<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 반드시 mapper 위치로 설정해야 된다. -->
<mapper namespace="com.ict.finalpj.domain.admin.mapper.AdminMapper">

<select id="getDealManagement" resultType="DealVO">
    SELECT coalesce(pjfile.fileName, 'noimg') as deal01, pjdeal.* 
    FROM pjdeal 
    JOIN pjfile ON pjdeal.dealIdx = pjfile.fileTableIdx 
    AND pjfile.fileTableType = 2 
    AND pjfile.fileOrder = 0
    ORDER BY pjdeal.dealRegDate DESC
</select>

<!-- 상세 정보 조회 (메인 이미지) -->
<select id="getDealDetail" parameterType="String" resultType="DealVO">
    SELECT 
        d.*,
        COALESCE(f.fileName, 'noimg') as deal01,
        COALESCE(d.dealview, 1) as dealview
    FROM pjdeal d
    LEFT JOIN pjfile f ON d.dealIdx = f.fileTableIdx 
        AND f.fileTableType = 2 
        AND f.fileOrder = 0
    WHERE d.dealIdx = #{dealIdx}
</select>

<!-- 상품 이미지 전체 조회 (스몰 이미지들) -->
<select id="getDealFiles" parameterType="String" resultType="FileVO">
    SELECT * 
    FROM pjfile 
    WHERE fileTableIdx = #{dealIdx}
        AND fileTableType = 2
    ORDER BY fileOrder ASC
</select>

<select id="getFavoriteCount" parameterType="String" resultType="int">
    SELECT COUNT(*) FROM pjdealfavorite WHERE dealIdx = #{dealIdx}
</select>

<select id="getSellerOtherDeals" parameterType="String" resultType="DealVO">
    SELECT d.* FROM pjdeal d
    WHERE d.dealSellerUserIdx = (
        SELECT dealSellerUserIdx FROM pjdeal WHERE dealIdx = #{dealIdx}
    )
    AND d.dealIdx != #{dealIdx}
</select>

<!-- 판매자의 다른 상품 이미지 -->
<select id="getSellerOtherFiles" parameterType="String" resultType="FileVO">
    SELECT DISTINCT f.* 
    FROM pjfile f
    JOIN pjdeal d ON f.fileTableIdx = d.dealIdx
    WHERE d.dealSellerUserIdx = (
        SELECT dealSellerUserIdx FROM pjdeal WHERE dealIdx = #{dealIdx}
    )
    AND d.dealIdx != #{dealIdx}
    AND f.fileTableType = 2
    AND f.fileOrder = 0
</select>

<select id="getDealSatisSellerScore" parameterType="String" resultType="String">
    SELECT 
        COALESCE(
            ROUND(AVG(dealSatisSellerScore), 1), 
            '5.0'
        ) as avgScore
    FROM pjdealsatisfaction 
    WHERE dealSatisSellerIdx = #{userIdx}
</select>

<update id="getAdminDealActiveUpdate" parameterType="map">
    UPDATE pjdeal 
    SET dealview = #{dealview} 
    WHERE dealIdx = #{dealIdx}
</update>

    <!-- 캠핑정보 관리 -->
    <select id="getSearchList" parameterType="CampSearchVO" resultType="CampVO">
        select * from pjcamp 
        where 1=1 
        <if test="sortOption == 'all'">
            <if test="keyword != null">
                and facltNm like concat('%', #{keyword}, '%')
            </if>
        </if>
        <if test="sortOption == 'open'">
            and manageSttus = '운영'
            <if test="keyword != null">
                and facltNm like concat('%', #{keyword}, '%')
            </if>
        </if>
        <if test="sortOption == 'closed'">
            and manageSttus = '휴장'
            <if test="keyword != null">
                and facltNm like concat('%', #{keyword}, '%')
            </if>
        </if>
        order by campIdx asc
        limit #{size} offset #{offset}
    </select>

	<insert id="insertCamp" parameterType="CampVO">
		INSERT INTO pjcamp (
			campIdx, contentId, facltNm, lineIntro, intro, insrncAt, trsagntNo, bizrno, facltDivNm, 
			manageSttus, hvofBgnde, hvofEnddle, featureNm, induty, lctCl, doNm, doNm2, regionCode, 
			sigunguNm, addr1, mapY, mapX, tel, homepage, resveUrl, resveCl, gnrlSiteCo, autoSiteCo, 
			glampSiteCo, caravSiteCo, indvdlCaravSiteCo, sitedStnc, siteMg1Width, siteMg2Width, siteMg3Width, 
			siteMg1Vrticl, siteMg2Vrticl, siteMg3Vrticl, siteMg1Co, siteMg2Co, siteMg3Co, siteBottomCl1, 
			siteBottomCl2, siteBottomCl3, siteBottomCl4, siteBottomCl5, glampInnerFclty, caravInnerFclty, 
			prmisnDe, operPdCl, operDeCl, trlerAcmpnyAt, caravAcmpnyAt, toiletCo, swrmCo, wtrplCo, brazierCl, 
			sbrsCl, sbrsEtc, posblFcltyCl, posblFcltyEtc, extshrCo, frprvtWrppCo, frprvtSandCo, fireSensorCo, 
			themaEnvrnCl, eqpmnLendCl, animalCmgCl, tourEraCl, firstImageUrl, campImg2, campImg3, campImg4, 
			campImg5, campImg6, createdtime, modifiedtime, campView
		) 
		VALUES (
			#{campIdx}, #{contentId}, #{facltNm}, #{lineIntro}, #{intro}, #{insrncAt}, #{trsagntNo}, 
			#{bizrno}, #{facltDivNm}, #{manageSttus}, #{hvofBgnde}, #{hvofEnddle}, #{featureNm}, 
			#{induty}, #{lctCl}, #{doNm}, #{doNm2}, #{regionCode}, #{sigunguNm}, #{addr1}, #{mapY}, 
			#{mapX}, #{tel}, #{homepage}, #{resveUrl}, #{resveCl}, #{gnrlSiteCo}, #{autoSiteCo}, 
			#{glampSiteCo}, #{caravSiteCo}, #{indvdlCaravSiteCo}, #{sitedStnc}, #{siteMg1Width}, 
			#{siteMg2Width}, #{siteMg3Width}, #{siteMg1Vrticl}, #{siteMg2Vrticl}, #{siteMg3Vrticl}, 
			#{siteMg1Co}, #{siteMg2Co}, #{siteMg3Co}, #{siteBottomCl1}, #{siteBottomCl2}, #{siteBottomCl3}, 
			#{siteBottomCl4}, #{siteBottomCl5}, #{glampInnerFclty}, #{caravInnerFclty}, #{prmisnDe}, 
			#{operPdCl}, #{operDeCl}, #{trlerAcmpnyAt}, #{caravAcmpnyAt}, #{toiletCo}, #{swrmCo}, 
			#{wtrplCo}, #{brazierCl}, #{sbrsCl}, #{sbrsEtc}, #{posblFcltyCl}, #{posblFcltyEtc}, #{extshrCo}, 
			#{frprvtWrppCo}, #{frprvtSandCo}, #{fireSensorCo}, #{themaEnvrnCl}, #{eqpmnLendCl}, 
			#{animalCmgCl}, #{tourEraCl}, #{firstImageUrl}, #{campImg2}, #{campImg3}, #{campImg4}, 
			#{campImg5}, #{campImg6}, #{createdtime}, #{modifiedtime}, #{campView}
		)
	</insert>

	<update id="updateCamp" parameterType="CampVO">
		UPDATE pjcamp
		SET
			contentId = #{contentId},
			facltNm = #{facltNm},
			lineIntro = #{lineIntro},
			intro = #{intro},
			insrncAt = #{insrncAt},
			trsagntNo = #{trsagntNo},
			bizrno = #{bizrno},
			facltDivNm = #{facltDivNm},
			manageSttus = #{manageSttus},
			hvofBgnde = #{hvofBgnde},
			hvofEnddle = #{hvofEnddle},
			featureNm = #{featureNm},
			induty = #{induty},
			lctCl = #{lctCl},
			doNm = #{doNm},
			doNm2 = #{doNm2},
			regionCode = #{regionCode},
			sigunguNm = #{sigunguNm},
			addr1 = #{addr1},
			mapY = #{mapY},
			mapX = #{mapX},
			tel = #{tel},
			homepage = #{homepage},
			resveUrl = #{resveUrl},
			resveCl = #{resveCl},
			gnrlSiteCo = #{gnrlSiteCo},
			autoSiteCo = #{autoSiteCo},
			glampSiteCo = #{glampSiteCo},
			caravSiteCo = #{caravSiteCo},
			indvdlCaravSiteCo = #{indvdlCaravSiteCo},
			sitedStnc = #{sitedStnc},
			siteMg1Width = #{siteMg1Width},
			siteMg2Width = #{siteMg2Width},
			siteMg3Width = #{siteMg3Width},
			siteMg1Vrticl = #{siteMg1Vrticl},
			siteMg2Vrticl = #{siteMg2Vrticl},
			siteMg3Vrticl = #{siteMg3Vrticl},
			siteMg1Co = #{siteMg1Co},
			siteMg2Co = #{siteMg2Co},
			siteMg3Co = #{siteMg3Co},
			siteBottomCl1 = #{siteBottomCl1},
			siteBottomCl2 = #{siteBottomCl2},
			siteBottomCl3 = #{siteBottomCl3},
			siteBottomCl4 = #{siteBottomCl4},
			siteBottomCl5 = #{siteBottomCl5},
			glampInnerFclty = #{glampInnerFclty},
			caravInnerFclty = #{caravInnerFclty},
			prmisnDe = #{prmisnDe},
			operPdCl = #{operPdCl},
			operDeCl = #{operDeCl},
			trlerAcmpnyAt = #{trlerAcmpnyAt},
			caravAcmpnyAt = #{caravAcmpnyAt},
			toiletCo = #{toiletCo},
			swrmCo = #{swrmCo},
			wtrplCo = #{wtrplCo},
			brazierCl = #{brazierCl},
			sbrsCl = #{sbrsCl},
			sbrsEtc = #{sbrsEtc},
			posblFcltyCl = #{posblFcltyCl},
			posblFcltyEtc = #{posblFcltyEtc},
			extshrCo = #{extshrCo},
			frprvtWrppCo = #{frprvtWrppCo},
			frprvtSandCo = #{frprvtSandCo},
			fireSensorCo = #{fireSensorCo},
			themaEnvrnCl = #{themaEnvrnCl},
			eqpmnLendCl = #{eqpmnLendCl},
			animalCmgCl = #{animalCmgCl},
			tourEraCl = #{tourEraCl},
			firstImageUrl = #{firstImageUrl},
			campImg2 = #{campImg2},
			campImg3 = #{campImg3},
			campImg4 = #{campImg4},
			campImg5 = #{campImg5},
			campImg6 = #{campImg6},
			modifiedtime = #{modifiedtime},
			campView = #{campView}
		WHERE campIdx = #{campIdx};
	</update>

    <select id="getSearchCount" parameterType="CampSearchVO" resultType="int">
        select count(*) from pjcamp 
        where 1=1 
             <if test="sortOption == 'all'">
            <if test="keyword != null">
                and facltNm like concat('%', #{keyword}, '%')
            </if>
        </if>
        <if test="sortOption == 'open'">
            and manageSttus = '운영'
            <if test="keyword != null">
                and facltNm like concat('%', #{keyword}, '%')
            </if>
        </if>
        <if test="sortOption == 'closed'">
            and manageSttus = '휴장'
            <if test="keyword != null">
                and facltNm like concat('%', #{keyword}, '%')
            </if>
        </if>
    </select>

    <!-- QNA 관리 -->
    <select id="getQnaList" resultType="QNAVO">
        SELECT 
            pjqna.*, 
            pjuser.userNickname
        FROM 
            pjqna
        LEFT JOIN 
            pjuser
        ON 
            pjqna.userIdx = pjuser.userIdx
        ORDER BY 
            pjqna.qnaReRegDate ASC;
    </select>

    <select id="getQnaDetail" parameterType="String" resultType="QNAVO">
        SELECT q.*, u.userNickname from pjqna q left join pjuser u on u.userIdx = q.userIdx where qnaIdx = #{qnaIdx}
    </select>

	<update id="updateQna" parameterType="QNAVO">
		update pjqna set qnaReSubject = #{qnaReSubject}, qnaReContent =#{qnaReContent},
		qnaReRegDate = NOW(), qnaStatus='답변완료' where qnaIdx = #{qnaIdx}
	</update>

    <!-- 관리자 회원 정보 리스트 -->
	<select id="getAdminUserList" parameterType="UserListVO" resultType="UserListVO">
    	select * from pjuser 
		where 1=1 
			<if test="option == 'all'">
				and (userLevel = 1 or userLevel = 2 or userLevel = 3)
				<if test="keyword != null">
					and (userName like concat('%', #{keyword}, '%') 
					or userNickname like concat('%', #{keyword}, '%'))
				</if>
			</if>
			<if test="option == 'general'">
				and userLevel = 1 
				<if test="keyword != null">
					and (userName like concat('%', #{keyword}, '%') 
					or userNickname like concat('%', #{keyword}, '%'))
				</if>
			</if>
			<if test="option == 'bad'">
				and userLevel = 3
				<if test="keyword != null">
					and (userName like concat('%', #{keyword}, '%') 
					or userNickname like concat('%', #{keyword}, '%'))
				</if>
			</if>
			<if test="option == 'rest'">
				and userLevel = 2
				<if test="keyword != null">
					and (userName like concat('%', #{keyword}, '%') 
					or userNickname like concat('%', #{keyword}, '%'))
				</if>
			</if>
		order by userIdx asc 
		limit #{size} offset #{offset}
	</select>

	<!-- 관리자 회원 정보 페이징 관련 -->
	<select id="getUserListCount" parameterType="UserListVO" resultType="int">
    	select count(*) 
    	from pjuser
    	where 1=1
        	<if test="option == 'all'">
            	and (userLevel = 1 or userLevel = 2 or userLevel = 3)
            	<if test="keyword != null">
                	and (userName like concat('%', #{keyword}, '%') 
                	or userNickname like concat('%', #{keyword}, '%'))
            	</if>
        	</if>
        	<if test="option == 'general'">
            	and userLevel = 1
            	<if test="keyword != null">
                	and (userName like concat('%', #{keyword}, '%') 
                	or userNickname like concat('%', #{keyword}, '%'))
            	</if>
        	</if>
        	<if test="option == 'bad'">
            	and userLevel = 3
            	<if test="keyword != null">
                	and (userName like concat('%', #{keyword}, '%') 
                	or userNickname like concat('%', #{keyword}, '%'))
            	</if>
        	</if>
        	<if test="option == 'rest'">
            	and userLevel = 2
            	<if test="keyword != null">
                	and (userName like concat('%', #{keyword}, '%') 
                	or userNickname like concat('%', #{keyword}, '%'))
            	</if>
        	</if>
	</select>

	<!-- 관리자 회원 정보 업데이트 -->
	<update id="getAdminUpdateUser" parameterType="UserListVO">
		update pjuser set userLevel = #{userLevel} where userIdx = #{userIdx}
	</update>

	<!-- 관리자 공지사항 리스트 -->
	<select id="getAdminNoticeList" parameterType="NoticeListVO" resultType="NoticeListVO">
    	select * from pjnotice 
		where 1=1 
			<if test="option == 'all'">
				and (noticeStatus = 'on' or noticeStatus = 'off')
				<if test="keyword != null">
					and (noticeSubject like concat('%', #{keyword}, '%'))
				</if>
			</if>
			<if test="option == 'on'">
				and noticeStatus = 'on'  
				<if test="keyword != null">
					and (noticeSubject like concat('%', #{keyword}, '%'))
				</if>
			</if>
			<if test="option == 'off'">
				and noticeStatus = 'off'
				<if test="keyword != null">
					and (noticeSubject like concat('%', #{keyword}, '%'))
				</if>
			</if>
		order by noticeIdx desc 
		limit #{size} offset #{offset}
	</select>

	<!-- 관리자 공지사항 리스트 페이징 관련 -->
	<select id="getNoticeListCount" parameterType="NoticeListVO" resultType="int">
    	select count(*) from pjnotice 
    	where 1=1
        	<if test="option == 'all'">
            	and (noticeStatus = 'on' or noticeStatus = 'off')
            	<if test="keyword != null">
                	and (noticeSubject like concat('%', #{keyword}, '%'))
            	</if>
        	</if>
        	<if test="option == 'on'">
            	and noticeStatus = 'on' 
            	<if test="keyword != null">
                	and (noticeSubject like concat('%', #{keyword}, '%'))
            	</if>
        	</if>
        	<if test="option == 'off'">
            	and noticeStatus = 'off' 
            	<if test="keyword != null">
                	and (noticeSubject like concat('%', #{keyword}, '%'))
            	</if>
        	</if>
	</select>

	<!-- 관리자 공지사항 noticeStatus 업데이트  -->
	<update id="getUpdateNoticeStatus" parameterType="String">
		UPDATE pjnotice 
		SET noticeStatus = CASE 
							WHEN noticeStatus = 'on' THEN 'off' 
							ELSE 'on' 
						END
		WHERE noticeIdx = #{noticeIdx}
	</update>

	<!-- 관리자 공지사항 정보 업데이트(모달) -->
	<update id="getAdminUpdateNoticeModal" parameterType="NoticeListVO">
		update pjnotice set noticeLevel = #{noticeLevel}, noticeStatus = #{noticeStatus} where noticeIdx = #{noticeIdx}
	</update>

	<!-- 관리자 공지사항 쓰기 -->
	<insert id="getAdminNoticeListWrite" parameterType="NoticeVO">
		insert into pjnotice (noticeSubject, noticeFile, noticeContent, noticeReg, noticeLevel, noticeStatus) 
		values(#{noticeSubject}, #{noticeFile}, #{noticeContent}, NOW(), #{noticeLevel}, #{noticeStatus})
	</insert>

	<!-- 관리자 공지사항 상세 -->
	<select id="getNoticeListIdx" parameterType="String" resultType="NoticeVO">
		select * from pjnotice where noticeIdx = #{noticeIdx}
	</select>

	<!-- 관리자 공지사항 수정 -->
	<update id="getAdminNoticeListUpdate" parameterType="NoticeVO">
		update pjnotice set 
			noticeSubject = #{noticeSubject}, noticeFile = #{noticeFile}, noticeContent = #{noticeContent}, noticeReg = #{noticeReg}, noticeLevel = #{noticeLevel}, noticeStatus = #{noticeStatus} 
		where noticeIdx = #{noticeIdx}
	</update>

	<!-- 관리자 FAQ 리스트 -->
	<select id="getAdminFAQList" parameterType="FAQListVO" resultType="FAQListVO">
    	select * from pjfaq 
		where 1=1 
			<if test="option == 'all'">
				and (faqStatus = 'on' or faqStatus = 'off')
				<if test="keyword != null">
					and (faqQuestion like concat('%', #{keyword}, '%'))
				</if>
			</if>
			<if test="option == 'on'">
				and faqStatus = 'on'  
				<if test="keyword != null">
					and (faqQuestion like concat('%', #{keyword}, '%'))
				</if>
			</if>
			<if test="option == 'off'">
				and faqStatus = 'off'
				<if test="keyword != null">
					and (faqQuestion like concat('%', #{keyword}, '%'))
				</if>
			</if>
		order by faqIdx desc 
		limit #{size} offset #{offset}
	</select>

	<!-- 관리자 FAQ 리스트 페이징 관련 -->
	<select id="getFAQListCount" parameterType="FAQListVO" resultType="int">
    	select count(*) from pjfaq 
    	where 1=1
        	<if test="option == 'all'">
            	and (faqStatus = 'on' or faqStatus = 'off')
            	<if test="keyword != null">
                	and (faqQuestion like concat('%', #{keyword}, '%'))
            	</if>
        	</if>
        	<if test="option == 'on'">
            	and faqStatus = 'on' 
            	<if test="keyword != null">
                	and (faqQuestion like concat('%', #{keyword}, '%'))
            	</if>
        	</if>
        	<if test="option == 'off'">
            	and faqStatus = 'off' 
            	<if test="keyword != null">
                	and (faqQuestion like concat('%', #{keyword}, '%'))
            	</if>
        	</if>
	</select>

	<!-- 관리자 FAQ faqStatus 업데이트  -->
	<update id="getUpdateFAQStatus" parameterType="string">
		UPDATE pjfaq 
		SET faqStatus = CASE 
							WHEN faqStatus = 'on' THEN 'off' 
							ELSE 'on' 
						END
		WHERE faqIdx = #{faqIdx}
	</update>

	<!-- 관리자 FAQ 정보 업데이트(모달) -->
	<update id="getAdminUpdateFAQModal" parameterType="FAQVO">
		update pjfaq set faqStatus = #{faqStatus} where faqIdx = #{faqIdx}
	</update>

	<!-- 관리자 FAQ 쓰기 -->
	<insert id="getAdminFAQListWrite" parameterType="FAQVO">
		insert into pjfaq (faqQuestion, faqAnswer, faqReg, faqStatus) 
		values(#{faqQuestion}, #{faqAnswer}, NOW(), #{faqStatus})
	</insert>

	<!-- 관리자 FAQ 상세 -->
	<select id="getFAQListIdx" parameterType="String" resultType="FAQVO">
		select * from pjfaq where faqIdx = #{faqIdx}
	</select>

	<!-- 관리자 FAQ 수정 -->
	<update id="getAdminFAQListUpdate" parameterType="FAQVO">
        update pjfaq set 
            faqQuestion = #{faqQuestion}, 
            faqAnswer = #{faqAnswer}, 
            faqReg = #{faqReg}, 
            faqStatus = #{faqStatus}
        where faqIdx = #{faqIdx}
    </update>

    <!-- 신고 관리 -->
    <!-- 신고 목록 가져오기 -->
    <select id="getReportList" parameterType="ReportVO" resultType="ReportVO">
        select * from pjreport 
        where 1=1 
        <!-- <if test="sortOption == 'all'">
        </if> -->
        <if test="sortOption == 'deal'">
            and reportTableType = 1
        </if>
        <!-- 캠핑장 댓글 아마 없던걸로 알아서 더미임 -->
        <if test="sortOption == 'campComment'">
            and reportTableType = 2
        </if>
        <if test="sortOption == 'log'">
            and reportTableType = 3
        </if>
        <if test="sortOption == 'logComment'">
            and reportTableType = 4
        </if>
        order by reportIdx desc
        limit #{size} offset #{offset}
    </select>

    <!-- 신고 페이징 개수 -->
    <select id="getReportCount" parameterType="ReportVO" resultType="int">
        select count(*) from pjreport  
        where 1=1 
        <!-- <if test="sortOption == 'all'">
        </if> -->
        <if test="sortOption == '거래 상품 신고'">
            and reportTableType = 1
        </if>
        <!-- 캠핑장 댓글 아마 없던걸로 알아서 더미임 -->
        <if test="sortOption == '캠핑장 상세보기 댓글 신고'">
            and reportTableType = 2
        </if>
        <if test="sortOption == '후기 글 신고'">
            and reportTableType = 3
        </if>
        <if test="sortOption == '후기 댓/답글 신고'">
            and reportTableType = 4
        </if>
    </select>

    <!-- 신고 리스트에 저장된 userIdx로 유저 닉네임 가져오기 -->
    <select id="getUserInfo" resultType="UserVO">
        select userIdx, userNickname from pjuser
    </select>

    <!-- 신고 처리 상태에 따라 반려는 해당 행만 reportStatus = 2로 업데이트 -->
    <update id="getReportProcessReturn" parameterType="ReportVO">
        UPDATE pjreport 
        SET reportStatus = 2
        WHERE reportIdx = #{reportIdx}
    </update>

    <!-- 신고 처리 상태에 따라 승인은 해당 행만 reportStatus = 1, 해당 TableType/Idx에 대한 isActive = 0 으로 일괄 업데이트 -->
    <update id="getReportProcessApprove" parameterType="ReportVO">
        UPDATE pjreport 
        SET reportStatus = 1
        WHERE reportIdx = #{reportIdx}
    </update>

    <!-- 신고 승인 처리 된 reportTableType이 1(거래 상품 신고)인 경우 -->
    <update id="getReportProcessDeal" parameterType="ReportVO">
        UPDATE pjdeal 
        <if test="reportStatus == '1'">
            SET dealView = 0
        </if>
        WHERE dealIdx = #{reportTableIdx}
    </update>
    <!-- 신고 승인 처리 된 reportTableType이 2(캠핑장 상세보기 댓글 신고)인 경우 -->
    <!-- <update id="getReportProcessCampComm" parameterType="ReportVO">
        UPDATE pjcampcomment 
        <if test="reportStatus == '1'">
            SET isActive = 0
        </if>
        WHERE campCommentIdx = #{reportTableIdx}
    </update> -->
    <!-- 신고 승인 처리 된 reportTableType이 3(후기 글 신고)인 경우 -->
    <update id="getReportProcessLog" parameterType="ReportVO">
        UPDATE pjlog 
        <if test="reportStatus == '1'">
            SET logIsActive = 0
        </if>
        WHERE logIdx = #{reportTableIdx}
    </update>
    <!-- 신고 승인 처리 된 reportTableType이 4(후기 댓/답글 신고)인 경우 -->
    <update id="getReportProcessLogComm" parameterType="ReportVO">
        UPDATE pjlogcomment 
        <if test="reportStatus == '1'">
            SET logCommentIsActive = 0
        </if>
        WHERE logCommentIdx = #{reportTableIdx}
    </update>

	<!-- 캠핑로그 글 목록 가져오기 -->
    <select id="getLogList" parameterType="CampLogVO" resultType="CampLogVO">
        select * from pjlog 
		where 1=1
		<if test="keyword != null">
			and (logTitle like concat('%', #{keyword}, '%'))
		</if>
        order by logIdx desc
        limit #{size} offset #{offset}
    </select>

    <!-- 캠핑로그 글 페이징 개수 -->
    <select id="getLogCount" parameterType="CampLogVO" resultType="int">
        select count(*) from pjlog
    </select>

	<!-- 캠핑로그 댓/답글 목록 가져오기 -->
    <select id="getLogCommentList" parameterType="CampLogCommentVO" resultType="CampLogCommentVO">
        select * from pjlogcomment 
		where 1=1
		<if test="keyword != null">
			and (logCommentContent like concat('%', #{keyword}, '%'))
		</if>
        order by logCommentIdx desc
        limit #{size} offset #{offset}
    </select>

    <!-- 캠핑로그 댓/답글 페이징 개수 -->
    <select id="getLogCommentCount" parameterType="CampLogCommentVO" resultType="int">
        select count(*) from pjlogcomment
    </select>

	<!-- 캠핑로그 글 가리기 업데이트  -->
	<update id="getInActiveLog" parameterType="String">
		UPDATE pjlog 
		SET logIsActive = 0
		WHERE logIdx = #{logIdx}
	</update>

	<!-- 캠핑로그 댓/답글 가리기 업데이트  -->
	<update id="getInActiveLogComment" parameterType="String">
		UPDATE pjlogcomment 
		SET logCommentIsActive = 0
		WHERE logCommentIdx = #{logCommentIdx}
	</update>

</mapper>