<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 는 반드시 mapper 의 위치로 설정해야 된다 -->
<mapper namespace="com.ict.finalpj.domain.deal.mapper.ChatMapper">

    <insert id="insertChatMessage" parameterType="ChatVO">
        INSERT INTO pjchat (chatRoom, chatMessage,
         chatSenderIdx, chatTime)
        VALUES (#{chatRoom}, #{chatMessage}, 
        #{chatSenderIdx}, #{chatTime})
    </insert>

    <select id="getChatList" parameterType="String" resultType="ChatVO" >
        SELECT * FROM pjchat 
        WHERE chatRoom = #{chatRoom}
        ORDER BY chatTime asc
    </select>

    <select id="chkByUserIdx" parameterType="map" resultType="ChatRoomVO" >
        SELECT chatroom FROM pjchatroom 
        WHERE userIdx in (#{userIdx}, #{sellerIdx}) 
        group by chatRoom HAVING COUNT(DISTINCT userIdx) = 2
    </select>

    <insert id="insertNewChat" parameterType="map">
        INSERT INTO pjchatroom (chatRoom, userIdx, joinedTime) 
        VALUES (#{chatRoom}, #{userIdx}, NOW()), 
        (#{chatRoom}, #{sellerIdx}, NOW())
    </insert>

    <select id="getChatListByUserIdx" parameterType="String" resultType="ChatRoomVO" >
        SELECT DISTINCT c1.* 
        FROM pjchatroom c1 
        JOIN pjchatroom c2 ON c1.chatRoom = c2.chatRoom 
        WHERE c2.userIdx = #{userIdx} AND c1.userIdx != #{userIdx}
    </select>

</mapper>