<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 반드시 mapper 위치로 설정해야 된다. -->
<mapper namespace="com.ict.finalpj.domain.deal.mapper.DealMapper">
  <select id="getDealMainList" resultType="DealVO">
    select * from pjdeal order by dealIdx desc
  </select>

 <select id="getFileVO" parameterType="String" resultType="FileVo">
    SELECT * FROM pjfile 
    WHERE fileTableIdx = #{dealIdx}
  </select>

  <select id="getDealDetail" parameterType="String" resultType="com.ict.finalpj.domain.deal.vo.DealVO">
    SELECT * FROM pjdeal WHERE dealIdx = #{dealIdx}
  </select>

  <select id="getDealFileList" parameterType="String" resultType="FileVo">
    select * from pjfile 
    where fileTableIdx = #{dealIdx} order by fileOrder asc
  </select>

  <insert id="getDealWrite" parameterType="DealVO">
    INSERT INTO pjdeal 
    (dealIdx, dealTitle, dealCategory, dealStatus, dealDescription, dealPrice, dealPackage, dealDirect, dealDirectContent, dealCount, dealRegDate)
    VALUES (#{dealIdx},#{dealTitle},#{dealCategory},#{dealStatus},#{dealDescription},#{dealPrice},#{dealPackage},#{dealDirect},#{dealDirectContent},#{dealCount},NOW())
  </insert>

  <insert id="insertFileInfo" parameterType="FileVo">
    INSERT INTO pjfile 
    (fileTableType, fileTableIdx, fileName, fileOrder, fileCreated) 
    VALUES (2, #{fileTableIdx}, #{fileName}, #{fileOrder}, NOW())
  </insert>

  <update id="getDealUpdate" parameterType="DealVO">
    UPDATE pjdeal 
    SET 
        dealTitle = #{dealTitle}, 
        dealCategory = #{dealCategory}, 
        dealStatus = #{dealStatus}, 
        dealDescription = #{dealDescription}, 
        dealPrice = #{dealPrice}, 
        dealPackage = #{dealPackage}, 
        dealDirect = #{dealDirect},
        dealDirectContent = #{dealDirectContent},
        dealCount = #{dealCount} 
    WHERE dealIdx = #{dealIdx}
  </update>

  <select id="getPjFileByDealIdx" parameterType="String" resultType="FileVo">
    SELECT * FROM pjfile 
    WHERE fileTableIdx = #{dealIdx}
    and fileActive = 1
    ORDER BY fileOrder ASC
  </select>

  <update id="updateDeal" parameterType="DealVO">
    UPDATE pjdeal
    SET
        dealTitle = #{dealTitle},
        dealCategory = #{dealCategory},
        dealStatus = #{dealStatus},
        dealDescription = #{dealDescription},
        dealPrice = #{dealPrice},
        dealPackage = #{dealPackage},
        dealDirect = #{dealDirect},
        dealDirectContent = #{dealDirectContent},
        dealCount = #{dealCount},
        dealRegDateUpdate = NOW()
    WHERE dealIdx = #{dealIdx}
  </update>


 <select id="getDealManagement" parameterType="String" resultType="DealVO">
    select * from pjdeal where dealSellerUserIdx = #{userIdx}
  </select>

  <update id="updateFileInfo" parameterType="FileVo">
    UPDATE pjfile 
    SET fileName = #{fileName},
        fileUpdated = NOW(),
        fileActive = CASE 
            WHEN #{fileName} IS NULL THEN 0
            ELSE 1
        END
    WHERE fileTableIdx = #{fileTableIdx} 
    AND fileOrder = #{fileOrder}
    AND fileTableType = #{fileTableType}
  </update>

</mapper>