<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 반드시 mapper 위치로 설정해야 된다. -->
<mapper namespace="com.ict.finalpj.domain.mycamp.mapper.MyLogMapper">
	<select id="getMyLogList" parameterType="MyLogVO" resultType="MyLogVO">
		select 
			cl.logIdx, cl.logTitle, cl.logRegDate, cl.logUpdateDate, 
			f.fileIdx, f.fileName, 
			(select count(*) from pjlogcomment cc where cc.logIdx=cl.logIdx and logCommentIsActive = 1) as commentCount, 
		u.userIdx 
		from pjlog cl 
		left join pjfile f on cl.logIdx = f.fileTableIdx and f.fileTableType=1 and fileActive = 1
		left join pjuser u on cl.userIdx = u.userIdx 
		where cl.userIdx=#{userIdx} and cl.logIsActive = 1 
		order by cl.logIdx desc
		limit #{size} offset #{offset}
	</select>

	<select id="getMyLogCount" parameterType="MyLogVO" resultType="int">
		select count(*) from pjlog cl where cl.userIdx=#{userIdx}
	</select>
</mapper>