<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 반드시 mapper 위치로 설정해야 된다. -->
<mapper namespace="com.ict.finalpj.domain.user.mapper.UserMapper">
	<insert id="insertUser" parameterType="UserVO">
		insert into pjuser (userId, usrPw, usrName, usrReg)
		values(#{userId},#{usrPw},#{usrName},now())
	</insert>
	
	<select id="getUserById" parameterType="String" resultType="UserVO">
		select * from pjuser where userId = #{userId}
	</select>

	<select id="findUserByProvider" parameterType="UserVO" resultType="UserVO">
		select * from pjuser 
		where  
		(
    (sns_provider = 'kakao' and k_userId = #{k_userId})
		OR
		(sns_provider = 'naver' and n_userId = #{n_userId})
		)
	</select>

</mapper>